@import "./componentes/variables";
header{
    font-size: 18px;
        img{
            width: 100px;
            height: 100px;
        }
        nav {
            align-self: center;
            margin: 5px;
            display: inline;
        }
}
.nav-link {
    padding: 5px;
    margin: 10px;
}
#navbarNav{
    text-align: center;
}