/*** Variables Colores ***/

$colorBlanco: #fafafa;
$colorNegro: #000000;
$colorZiggy:#df2d62;
$colorAladdin :#e2494b;
$colorScaryMonsters:#a5a8b2;
$colorLabyrinth:#926047;
$colorHunkyDory:#bad4e5;
$colorDiamonDogs:#3264bb;
$colorUnionJacket:#b40114;
$colorStationToStation:#878787;

//  *** Variables Tipografía ***

$tipografia: 'Open Sans', sans-serif;